
@import "../../shared/styles/theme.scss";

.cart-page {    
  
  .container-main {
    .container-body {
      background-color: $secondary-color;
      padding: 8;  
      .cart-item {
        $borderRadius: 5;

        height: 110; /// Temporary
        margin-bottom: 10;          
        border-radius: $borderRadius;
        padding: 3;
        background-color: rgba(255,255,255,0.6);
        border-width: 1px;
        border-color: #dfdfdf;
        border-bottom-width: 3;
        border-bottom-style: groove;
        .container-image {
          width: 30%;
          image {
            width: 100%;             
            border-radius: $borderRadius;
          }           
        }
        .product-item-info {
          margin-left: 5;                  
          .title {
            font-size: 16;
            color: #444;
            margin-right: 5;           
          }
          .category {
            font-size: 12.5;
            color: coral;          
          }          
          .quantity {
            font-size: 12;
            color: red;
            padding: 3 0 0;            
          }
          .send {
            font-size: 12;
            color: violet;
            padding: 0 0 3;            
          }
          .price {
            color: goldenrod;
            font-size: 15.5;
            font-weight: 500;            
          }   
          button {
            &.remove {              
              width: 25; 
              height: 25; 
              padding: 0; 
              margin: 0;
              color: red; 
              font-family: 'LineAwesome'; 
              font-size: 19;              
              border-radius: 100%;
              background-color: #fff;                         
            }
          }                 
        }
        .container-option-quantity {                   
          padding-left: 5;
          .quantity-control {
            border-width: 1;
            border-color: #ddd;
            background: #fff;
            border-radius: 100%;
            button {
              width: 35;
              height: 35;           
              border-radius: 100%;
              background-color: #fff;              
              padding: 0;
              margin: 0;
              color: gray;             
              font-family: "LineAwesome";          
            }
            label {
              color: #222;
              padding: 0 6;
              font-size: 12;
            }            
          }
          .quantity-available {
            margin-left: 10;
            font-size: 11;
          }
          button, label {
            vertical-align: middle;
          }
        }
      }
    }
    .container-footer {
      // border-top-width: 1;
      border-top-color: #ccc;
      background: $secondary-color;      
      .container-value {
        padding: 0 15;
        .label {
          font-size: 12;
        }
        .value {
          font-size: 17;
          font-weight: 600;
          color: #454545;
        }        
      }     
      button {
        &.details {              
          width: 28; 
          height: 28; 
          padding: 0; 
          margin: -1 0 0;
          color: #555; 
          font-family: 'LineAwesome'; 
          font-size: 17;
          border-radius: 100%;
          background-color: #fff;                       
        }
        &.buy {       
          height: 35;
          border-radius: 5;
          background-color: coral;
          color: white;
          margin: 5 10;
          font-size: 16;
          font-weight: 500;
          text-transform: capitalize;
          padding: 0 8;
        }
      }     
      stacklayout {
        vertical-align: middle;
      }
    }
  }

}  
