
@import "../../shared/styles/theme.scss";

.login-page {

  ScrollView {
    background-repeat: no-repeat; 
    background-size: cover;
  }

  .btnClose {
    width: 40;
    height: 40;
    border-radius: 100%;
    background-color: indianred;
    color: #fff;
    padding: 0;
    margin-right: 5;
  }

  .container-form {
    vertical-align: middle; 
    padding: 10;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8;
    margin: 50 10; 
    textField {          
      border-width: 3px;
      border-color: $primary-color;
      border-radius: 15px;
      margin-bottom: 10;
      color: $primary-color;       
      background: rgba(255,255,255,0.7);
      height: 50;
      font-size: 16px;
      padding-left: 10;
      padding-right: 10;
    }
    .title {
      color: $primary-color;
      text-align: center;
      margin: 20 0 35;
      font-size: 30;
    }
    .lb-recover-password {
      margin-top: -10px;
      margin-bottom: 25;
      font-size: 13px;
      color: rgb(100, 100, 253);
      text-decoration: underline;
    }
    .btn-submit {
      border-radius: 15px;
      background-color: $primary-color;
      color: #fff;     
      font-weight: 900;     
    }
    .social-networks {
      .lb-aternative-login {
        text-align: center;
        margin: 20;
      }
      .social-medias {
        button {
          padding: 0;
          width: 90px;
          height: 90px;
          border-radius: 100%;          
          margin-right: 10;    
          font-size: 16px;
          &.last {
            margin-right: 0;      
          }           
        }              
      }
    }     
    .btn-register {
      margin-top: 30;
      border-radius: 15px;  
      background-color: $secondary-color;
      color: $primary-color;     
      font-weight: 900;
    }
  }

}

// Social Medias
.facebook {
  background-color: #3949ab;
  color: #fff;
}

.google {
  background-color: #bf360c;
  color: #fff;
}

.twitter {
  background-color: #64B5F6;
  color: #fff;
}