
@import "../../shared/styles/theme.scss";

.cards-details{
   ActionBar {
  
    &.android{

      padding-right: 4;
    }

    .acumulated-points{
      background-color: rgba(255, 255, 255,0.5);
      border-radius: 25%;
      min-width: 55pt;
      
      .acumulated-points-coin{
        margin-left: 0px;
        height: 30pt;
        width: 30pt;
        stretch: fill;
      }

      Label{
        margin-left: 2pt;
        margin-right: 2pt;
        font-size: 12px;
        font-weight: 700;
        padding: 0 5pt 0 5pt;
        vertical-align: middle;
        color: rgb(87, 87, 87);
      }
    }

    #action-bar-qrcode-button{
      width: 30pt;
      height: 30pt;
      background-color: rgba(255, 255, 255,0.5);
      border-radius: 50%;
      padding: 7pt;

      Image{

        &.ios{
          margin-top: 25px;
        }
        
        stretch: aspectFill;
        width: 100%;
        height: 100%;
      }
    }
  }

  .main-container{
    width: 100%;
    height: 100%;

    .card-info-container{
      background-image: commonGradient(37%, 85%);
      padding: 10pt;
      border-bottom-left-radius: 5pt;
      border-bottom-right-radius: 5pt;
      
      .action-buttons{
        left: 0;
        width: 100%;
        height: auto;
        orientation: horizontal;
        horizontal-alignment: right;
        padding-right: 10pt;
        Button{

          background-color: rgba(14, 106, 164, 0.411);
          width: 42pt;
          height: 42pt;
          border-radius: 50%;
          margin-right: 5pt;
          visibility: collapse;
          font-size: 27pt;
          color: rgb(232, 232, 232);
          &:highlighted{

            color: gray;
          }

          &.android{

            font-size: 20pt;
          }
        }
      }

      .image-and-label-container{
        top: 25pt;
        left: 0;
        width: 100%;
        .image-and-label{
          $imageSize: 120;
          orientation: horizontal;
          $divider: 1.6;
          $expansion: 20;
          width: 144pt;

          Image{
            width: $imageSize;
            height: $imageSize;
            border-radius: 100%;
            border-width: 3;
            stretch: fill;
            border-color: $primary-color;
            margin-right: $expansion;
          }

          .container-points{
            color: #fff;
            background-color: $primary-color;
            top: $imageSize - ($imageSize / $divider);
            left: ( ($imageSize - ($imageSize / $divider)) + $expansion );
            width: $imageSize / $divider;
            height: $imageSize / $divider;
            vertical-align: middle;
            border-width: 2;
            border-color: #fff;
            border-radius: 100%;
            font-size: 16;
            font-weight: 500;
            label {
              text-align: center
            }          
          }
        }
      }

      .title{
        top: 160pt;
        width: 100%;
        left: 0;
        text-align: center;
        padding: 10pt;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19pt;
        color: #444;
      }
    }

    .card-points-container{
      padding: 10pt;
      GridLayout{
        StackLayout{
          margin: 3pt;
          border-radius: 100%;
          // border-width: 3pt;
          // border-color: rgba(85, 97, 140, 0.578);
      
          &.enabled{

            padding: 0;
          }
          
          &.disabled{

            background: rgba(226, 171, 171, 0.907);
            padding: 31%;
          }
          
          Image{
            stretch: fill;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            
            &.enabled{}

            &.disabled{

              tint-color: white;
            }
          }
        }
      }
    }



  }
}