
@import "../../shared/styles/theme.scss";

.details-page { 

    .container-main {
        background-color: $secondary-color;        
        .container-header {
            padding: 15;
            border-bottom-width: 1px;
            border-bottom-color: lightblue;
            background-color: rgba(255,255,255,0.3);
            .container-image {
                image {
                    width: 85;
                    height: 85;
                    border-radius: 100%;
                    border-width: 1;
                    border-bottom-width: 2;
                    border-color: white;
                    background-color: #ececec;
                    stretch: aspectFill;
                } 
            }                
            .container-titles {
                vertical-align: middle;
                padding-left: 10;
                label {
                    font-family: Arial, Helvetica, sans-serif;
                    &.title {                        
                        font-size: 17;                        
                        color: black;                        
                    }   
                    &.subtitle {
                        font-size: 13.5;                        
                    }       
                    &.category {
                        font-size: 12;
                        font-weight: 500;
                        color: lightcoral;
                        padding-right: 15;                           
                    }  
                    &.date {
                        font-size: 11.5;  
                        color: #999;
                        padding-top: 2px;                            
                    }                        
                }
                gridLayout {
                    margin-top: 15px;                                               
                }
            }            
        }
        .container-body {
            padding: 15;
            min-height: 250;
            .message {                
                font-family: Arial, Helvetica, sans-serif;                                         
                font-size: 14.5;                          
            }
        }
        .container-images {            
            margin: 20 10;                 
            .image-item {                         
                margin-left: 2;                                          
                image {     
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 12;
                    stretch: aspectFill;
                    background-color: #fff;
                }
                .overlay {                                                         
                    label {
                        vertical-align: middle;        
                        text-align: center;
                        color: white;
                        font-size: 26;
                        font-weight: 700;
                    }
                }  
                &.last {
                    border-radius: 12;
                    background-color: #333;
                    image {
                        opacity: 0.4;  
                    }
                }                
            }            
        }
    }
}
